rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        (
          exists(/databases/$(database)/documents/admins/$(request.auth.uid))
          && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.active == true
        )
        ||
        (
          exists(/databases/$(database)/documents/users/$(request.auth.uid))
          && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.profile.role == "admin"
        )
      );
    }

    match /admins/{adminId} {
      allow read: if isSignedIn() && request.auth.uid == adminId;
      allow write: if false;
    }

    match /catalog/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId} {
      allow read: if isSignedIn() && request.auth.uid == userId;
      allow write: if isSignedIn() && request.auth.uid == userId;
      allow read, update: if isAdmin();
    }
  }
}

