rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.active == true;
    }

    match /admins/{adminId} {
      allow read: if isSignedIn() && request.auth.uid == adminId;
      allow write: if false;
    }

    match /catalog/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId} {
      allow read: if isSignedIn() &&
                  (request.auth.uid == userId || isAdmin());
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if (isSignedIn() && request.auth.uid == userId &&
                    (!('role' in request.resource.data) ||
                     request.resource.data.role == resource.data.role))
                    || isAdmin();
      allow delete: if false;
    }

    match /users/{userId}/{document=**} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
      allow read, write: if isAdmin();
    }

    match /orders/{orderId} {
      allow create: if isSignedIn() &&
                    request.resource.data.userId == request.auth.uid;
      allow read:   if isSignedIn() &&
                    (resource.data.userId == request.auth.uid || isAdmin());
      allow update: if isAdmin();
      allow delete: if false;
    }

    match /promoCodes/{docId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /stockRequests/{docId} {
      allow create: if isSignedIn() &&
                    request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if isAdmin();
    }
  }
}